body,
ul {
  margin: 0;
  padding: 0;
}

/* Set a background color for the body */
body {
  background-color: #f2f2f2;
}

/* Style the navigation bar */
nav {
  background-color: #ffffff;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

/* Style the logo */
.logo {
  display: flex;
  align-items: center;
}

img {
  height: 40px;
  margin-right: 10px;
}

h3 {
  font-size: 24px;
  color: #000000;
}


/* Style the links in the navigation bar */
.navigation {
  display: flex;
  align-items: center;
}
  .links {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Center the links horizontally */
    list-style-type: none;
  }

  li {
    margin-right: 15px;
    cursor: pointer;
    color: #000000;
    font-weight: bold;
  }


  /* Style the login section in the navigation bar */
  .login {
    display: flex;
    align-items: center;
    margin-left: 15px;
  }

  a {
    margin-right: 15px;
    color: #000000;
    text-decoration: none;
  }

  button {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-weight: bold;
  }


  /* Style the hamburger menu icon */
  .hamburger {
    display: none;
  }


  .card {
    border: 2px solid red;
  }


  /* Add responsive styles for smaller screens */
  @media (max-width: 768px) {
    .navigation {
      .links {
        display: none;
      }

      .login {
        margin-right: 0;
      }

      .hamburger {
        display: block;
        cursor: pointer;
      }
    }
  }
